@model TrailLocker.Controllers.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Index</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<div id = "login">
<p> Please log in</p>
@Html.ActionLink("Log in with Facebook","Facebook");

<!--
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.username);
    @Html.TextBoxFor(m => m.username);
    @Html.LabelFor(m => m.password);
    @Html.PasswordFor(m => m.password);
    <input input type="submit" />
    @Html.ValidationSummary();
}
</div>
<div id="create_account">
    <p> Don't have an account? Sign up now.</p>
    @Html.ActionLink("Sign Up Now.", "CreateAccount", "Login")
</div>

-->